.TablePage {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    .grid-item {
      text-align: center;
      font-weight: bold;
    }
  }
  .easy-mode {
    margin-top: 20px;
    input {
      margin-left: 10px;
    }
  }
}
