.NumPad {
  display: flex;
  align-items: center;
  justify-content: center;
  .user-input {
    background-color: rgb(53, 53, 53);
    width: 265px;
    box-shadow: #b0b0b0 0 0 6px 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: greenyellow;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    font-size: 25px;
  }
  .row {
    display: flex;
  }
  .pad-button {
    margin: 10px;
    outline: none;
    border: none;
    border-radius: 25px;
    background: white;
    width: 75px;
    height: 75px;
  }
}
