.NumPad {
  display: flex;
  align-items: center;
  justify-content: center;
  .user-input {
    background-color: rgb(53, 53, 53);
    color: greenyellow;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    font-size: 25px;
  }
  .row {
    display: flex;
  }
  .pad-button {
    margin: 10px;
    box-shadow: #b0b0b0 0px 3px 0px 1px;
    width: 75px;
    height: 75px;
    &:hover {
      filter: none;
      opacity: 1;
      color: inherit;
    }
    &:active {
      box-shadow: #b0b0b0 0 0px 0px 0px;
      transform: translateY(5px) scale(0.99);
      // opacity: 0.55;
    }
  }
}
