.ProgressTimer {
  width: 100%;
  border-bottom: 1px solid grey;
  background: #353535;
  position: absolute;
  height: 20px;
  top: 0;
  left: 0;
  .progress {
    width: 100%;
    height: 100%;

    animation: progressbar-countdown;
    /* Placeholder, this will be updated using javascript */
    animation-duration: 5s;
    /* We stop in the end */
    animation-iteration-count: 1;
    /* Stay on pause when the animation is finished finished */
    animation-fill-mode: forwards;
    /* We start paused, we start the animation using javascript */
    animation-play-state: paused;
    /* We want a linear animation, ease-out is standard */
    animation-timing-function: linear;
  }

  @keyframes progressbar-countdown {
    0% {
      width: 0%;
      background: #87de00;
    }
    70% {
      width: 70%;
      background: #87de00;
    }
    100% {
      width: 100%;
      background: #f00;
    }
  }
}
