.BottomNav {
  position: fixed;
  bottom: 0;
  height: 52px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: white;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background: white;
  box-shadow: -1px 4px 12px #a4a4a4, 6px -6px 12px #ffffff;
}
