@import "./styles/index.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
html {
  width: 100%;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
}
body {
  width: 100%;
  height: 100%;
  color: var(--font-color);
}
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;

  background-color: #f4f5f7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.neumorphic {
  background: #e0e0e0;
  box-shadow: -1px 4px 12px #a4a4a4, 6px -6px 12px #ffffff;
  &:active {
    background: #e0e0e0;
    box-shadow: inset -6px 6px 12px #a4a4a4, inset 6px -6px 12px #ffffff;
  }
}
